<%= form_with(model: [ @article, @article.comments.build ], class:"ui form", local: true) do |form| %>
  <p>
    <strong><%= form.label :commenter %></strong><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <strong><%= form.label :body %></strong><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit 'Create Coment',class:"ui primary button" %>
  </p>
<% end %>