<%= form_with model: @article,class:"ui form", local: true do |form|%>

  <%if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %>
        prohibited
        this article from being saved
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%=msg %></li>
          <%end %>
      </ul>
    </div>
<% end %>
<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :text %><br>
  <%= form.text_field :text %>
</p>

<p>
  <%= form.submit "Create", class:"ui primary button"%>
</p>
<% end %>

<%= link_to "Open modal", new_article_path, :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "my-modal" %>
<div class="modal hide fade" id="my-modal" title="My modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">New Post</h3>
  </div>
  <div class="modal-body a-unique-class">
    New Post Body
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>
</div>