<%= render 'layouts/header' %>
<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path , class: "ui primary button"%>
<table class="ui celled green unstackable table">
  <thead>
  <tr>
    <th colspan="3"></th>
    <th>Title</th>
    <th>Text</th>
  </tr>
  </thead>
  <tbody class="">
  <% @articles.each do |article| %>
    <tr>

      <td class="InwzaTD"><%= link_to 'Show', article_path(article), class: "ui green button" %></td>
      <td class="InwzaTD"><%= link_to 'Edit', edit_article_path(article), class: "ui yellow button" %></td>
      <td class="InwzaTD"><%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "ui red button"%></td>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
    </tbody>
  <% end %>
</table>
</body>
<%= render 'layouts/footer' %>

