<%= render 'layouts/header' %>
<h1>Details</h1>
<table class="ui celled green table">

<tr>
  <td>
  <strong>ID:</strong>
  </td>
  <td>
  <%= @user.user_name %></td>
</tr>
<tr>
  <td>
  <strong>roles:</strong></td>
  <td>
  <%= @user.roles %></td>
</tr>
</table>
<%= link_to 'Edit', edit_user_path(@user),class: "ui yellow button" %> |
<%= link_to 'Back', users_path ,class: "ui green button"%>
