<%= render 'layouts/header' %>
<h1>Details</h1>
<table class="ui celled green table">
  <thead>
<th><strong>ID:</strong></th>
  <th><strong>roles:</strong></th>
  </thead>
  <td class="RowZa">
  <%= @user.user_name %>
  </td>
  <td>
  <%= @user.roles %></td>
</table>
<table class="ui celled blue table">
  <thead>
  <th><strong>District :</strong></th>
  <th><strong>Province :</strong></th>
  </thead>
<%= render @user.areas %>
</table>
<%= render 'areas/form' %>

<%= link_to 'Edit', edit_user_path(@user),class: "ui yellow button" %> |
<%= link_to 'Back', users_path ,class: "ui green button"%>
