<%= form_with(model: customer, local: true,class: "ui form") do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wide column">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
<br>
<div class="ui grid">
  <div class="four wide column">
    <%= form.label :house_num %>
    <%= form.text_field :house_num %>
  </div>

  <div class="four wide column">
    <%= form.label :build %>
    <%= form.text_field :build %>
  </div>

  <div class="four wide column">
    <%= form.label :group %>
    <%= form.text_field :group %>
  </div>

  <div class="four wide column">
    <%= form.label :road %>
    <%= form.text_field :road %>
  </div>

  <div class="four wide column">
    <%= form.label :district %>
    <%= form.text_field :district %>
  </div>

  <div class="four wide column">
    <%= form.label :township %>
    <%= form.text_field :township %>
  </div>

  <div class="four wide column">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="four wide column">
    <%= form.label :mail %>
    <%= form.number_field :mail %>
  </div>

  <div class="four wide column">
    <%= form.label :tel %>
    <%= form.telephone_field :tel %>
  </div>
  <div class="field">
    add an image....
    <%= form.file_field :image %>
  </div>

  </div>
  <br>
  <div class="actions">
  <%= form.submit "Create Customer data",class:"ui primary button"%>
</div>
<% end %>
