<%= render 'layouts/header' %>

<!--<td id="notice"><%#= notice %></td>-->
<h1>Details</h1>
<table class="ui celled green table">
  <thead>
  <th > <strong>Name:</strong>  </th>
  <th>  <strong>House num:</strong></th>
  <th>  <strong>Build:</strong></th>
  <th>  <strong>Group:</strong></th>
  <th>  <strong>Road:</strong></th>
  <th>  <strong>District:</strong></th>
  <th>  <strong>Township:</strong></th>
  <th>  <strong>City</strong></th>
  <th>  <strong>Mail:</strong></th>
  <th>  <strong>Tel:</strong></th>

  </thead>

<td>
  <%= @customer.name %>
</td>

<td>
  <%= @customer.house_num %>
</td>

<td>
  <%= @customer.build %>
</td>

<td>
  <%= @customer.group %>
</td>

<td>
  <%= @customer.road %>
</td>

<td>
  <%= @customer.district %>
</td>

<td>
  <%= @customer.township %>
</td>

<td>
  <%= @customer.city %>
</td>

<td>

  <%= @customer.mail %>
</td>

<td>
  <%= @customer.tel %>
</td>
</table>
<br>
<%= image_tag(@customer.image_url.to_s,class: "image-size") %>
<br>
<br>
<%= link_to 'Edit', edit_customer_path(@customer),class: "ui yellow button" %> |
<%= link_to 'Back', customers_path ,class: "ui green button"%>
