
<%= form_with(model: product, local: true ,class: "ui form") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wide column">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="ui grid">

    <div class="four wide column">
      <%= form.label :volumn %>
      <div class="ui right labeled input">
      <%= form.number_field :volumn %>
        <div class="ui basic label">
          Ml
        </div>
      </div>
    </div>

    <div class="four wide column">
      <%= form.label :quantity %>
        <div class="ui right labeled input">
      <%= form.number_field :quantity %>
          <div class="ui basic label">
            pc
          </div>
        </div>
    </div>
    <div class="four wide column">
      <%= form.label :cost %>
      <div class="ui right labeled input">
        <label for="amount" class="ui label">$</label>
      <%= form.number_field :cost %>
        <div class="ui basic label">.00</div>
      </div>
    </div>

    <div class="four wide column">
      <%= form.label :price %>
        <div class="ui right labeled input">
          <label for="amount" class="ui label">$</label>
      <%= form.number_field :price %>
        <div class="ui basic label">.00</div>
      </div>
    </div>

  </div>

  <div class="field">
    <%= form.label :sell_date %>
    <%= form.text_field :sell_date, class: "form-control datepicker"  %>
  </div>
  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Create Product ", class:"ui primary button"%>
  </div>

<% end %>

<script>
  $(document).ready(function () {
      $('.datepicker').pickadate() ;
  });

</script>