<%= render 'layouts/header' %>

<h1>Products</h1>
<%= link_to 'New Product', new_product_path, class: "ui primary button" %>
<table class="ui celled green unstackable table">
  <thead>
    <tr>
      <% if current_user.roles == 'admin' %>
        <th colspan="3"></th>
        <th>Have?</th>
        <th>Name</th>
        <th>Details</th>
        <th>Volumn</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Price</th>
        <th>Sell date</th>
        <th>Created date</th>
        <th>Updated date</th>
    <% else %>
        <th colspan="1"></th>
      <th>Have?</th>
      <th>Name</th>
      <th>Details</th>
      <th>Volumn</th>
      <th>Price</th>
      <th>Sell date</th>
      <th>Created date</th>
      <th>Updated date</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <% if current_user.roles == 'admin' %>

      <tr>
      <td class="InwzaTD"><%= link_to 'Show', product ,class: "ui green button"%></td>
        <td class="InwzaTD"><%= link_to 'Edit', edit_product_path(product) ,class: "ui yellow button"%></td>
        <td class="InwzaTD"> <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } ,class: "ui red button"%></td>
        <% if product.quantity == 0 %>
          <td class="center aligned"><i class="red circle icon"></i></td>
        <% else %>
          <td class="center aligned"><i class="blue circle icon"></i></td>
        <%end %>
        <td><%= product.name %></td>
        <td><%= product.details %></td>
        <td><%= product.volumn %></td>
        <% if product.quantity == 0%>
          <td style="background-color:  red">None</td>
          <%else %>
        <td><%= product.quantity %></td>
          <% end %>
        <td><%= product.cost %></td>
        <td><%= product.price %></td>
        <td><%= product.sell_date.to_s(:long) %></td>
        <td><%= product.created_at %></td>
        <td><%= product.updated_at %></td>
      </tr>
        <% else %>
    <tr>
      <td class="InwzaTD"><%= link_to 'Show', product ,class: "ui green button"%></td>
      <% if product.quantity == 0 %>
        <td class="center aligned"><i class="red circle icon"></i></td>
      <% else %>
        <td class="center aligned"><i class="blue circle icon"></i></td>
      <%end %>
      <td><%= product.name %></td>
      <td><%= product.details %></td>
      <td><%= product.volumn %></td>
      <td><%= product.price %></td>
      <td><%= product.sell_date.to_s(:long) %></td>
      <td><%= product.created_at %></td>
      <td><%= product.updated_at %></td>
    </tr>
  <%end %>
        <% end %>
  </tbody>
</table>

<br>
<p>
  <%= link_to "CSV", products_path(format: "csv"),class: "ui orange button" %> |
  <%= link_to "Excel", products_path(format: "xls"),class: "ui grey button" %>
</p>