<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Business</th>
      <th>Factory</th>
      <th>Company</th>
      <th>Contact</th>
      <th>Howto</th>
      <th>Time at</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.customer_id %></td>
        <td><%= report.business %></td>
        <td><%= report.factory_id %></td>
        <td><%= report.company_id %></td>
        <td><%= report.contact %></td>
        <td><%= report.howto %></td>
        <td><%= report.time_at %></td>
        <td><%= report.product_id %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>

