<div class="ui tabular menu" style="background: #99ffcc; width: 100%">

  <div class=" item">
    <%= link_to 'Articles', controller: 'articles' %>
  </div>

  <div class="item">
    <%= link_to 'Customers', controller: 'customers'%>
  </div>

  <div class="item">
    <%= link_to 'Products', controller: 'products'%>
  </div>
  <div class="item">
    <%= link_to 'Invoice', controller: 'invoices'%>
  </div>
  <div class="item">
    <%= link_to 'Users', controller: 'users'%>
  </div>
  <div class="right menu">
    <div class="item">
      <% if current_user %>

        <div class="ui inline dropdown">
          <div class="text">
            <img src="/image/umr.jpg"class="ui mini circular image">
            <%= link_to current_user.user_name , edit_user_path(current_user) %>&nbsp;&nbsp;
          </div>
          <%= link_to "Log Out", logout_path %>
          </div>
        </div>



        <%#= link_to current_user.user_name, edit_user_path(current_user.user_name) ,class: "ui yellow button"%>
<!--        &nbsp;-->
      <% else %>
        <%= link_to "Log In", login_path, class: "ui green button" %>
      <% end %>
    </div>
  </div>


