<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/image/umr.jpg">

    <title>Pornhub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/jquery.Thailand.js/dependencies/JQL.min.js"></script>
    <script type="text/javascript" src="/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>
    <link rel="stylesheet" href="/jquery.Thailand.js/dist/jquery.Thailand.min.css">
    <script type="text/javascript" src="/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
